$cta-color: #F2AB6D;
$title-color: #4393D9;
$txt-color: #191a1b;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

body{
    background-color: azure;
    color: $txt-color;
    font-family: 'Open sans', sans-serif;
}

h1{
    font-weight: 400;
    text-transform: uppercase;
}

h2{
    font-weight: 400;
    color: $title-color;
}

.flex{
    display: flex;
    justify-content: center;
}

.card{
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    &-thumb{
        height: 60%;
        display: flex;
        flex-direction: row-reverse;
        background-image: url(/learning-sass/assets/img/greece.jpg);
        background-size: cover;
        .date{
            font: {
                size: 18px;
                weight: 600;
            }
            background-color: $cta-color;
            border-radius: 50px;
            text-align: center;
            padding: 10px;
            margin: 20px;
            width: 80px;
            height: 80px;
            color: white;
        }
    }
    &-body{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px 20px;
        h2,p{
            margin-top: 5px;
        }
    }
    & .info{
        display: flex;
        flex-direction: row;
        padding: 25px;
        & p:first-child{
            margin-right: 20px;
        }
    }
}

.card-body span{
    position: relative;
    top: -16px;
    padding: 15px 20px;
    background-color: $title-color;
    width: 100px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}









/*.card_body{
    padding: 25px;
    & .category{
        font: {
            size : 20px;
            weight: 600
        }
        text-transform: uppercase;
    }
    & .title{
        font: {
            size : 26px;
            weight: 800
        }
        text-transform: uppercase;
    }
    & .subtitle{
        font: {
            size : 20px;
            weight: 600;
        }
        text-transform: uppercase;
    }
    & .description{
        font: {
            size : 16px;
            weight: 400;
        }
    }
}
& .info{
    display: flex;
    flex-direction: row;
    padding: 25px;
    & p:first-child{
        margin-right: 20px;
    }
}*/